<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new task</title>
</head>
<body>
    <h1 class="title">Add new task</h1>

    <form class="todo-form" method="POST" action="/todos">
        <input type="text"
        type="text"
        name="task"
        placeholder="Add task"
        required
        >
        <button type="Submit">Add Task</button>
    </form>
    <a href="/todos">Back to TO DO LIST</a>
    
</body>
</html>